@import url("https://fonts.googleapis.com/css2?family=Karla&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins, sans-serif;
}

.gradient {
  background: -webkit-linear-gradient(#b9005b, #002b5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background-image: linear-gradient(to bottom right, #f29463, #a66cff);
}
